<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.aviro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>  <!--네트워크로만 위치 측정-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  <!--GPS 센서를 사용하여 위치 측정-->
    <!--android:networkSecurityConfig="@xml/network_security_config"-->

    <application
        android:usesCleartextTraffic="true"
        android:name=".AviroApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AVIRO"
        tools:targetApi="31">

        <activity
            android:name=".presentation.guide.Guide"
            android:exported="true">
        </activity>

        <activity
            android:name=".presentation.splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.sign.Sign"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aviro.co.kr"/>
                <data
                    android:scheme="aviro"
                    android:host="testcallback"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.home.Home"
            android:exported="true">
        </activity>

        <activity
            android:name=".presentation.home.ui.register.RegisterFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".presentation.home.ui.register.SearchRegisteration"
            android:exported="true">
        </activity>


        <activity
            android:name=".presentation.update.Update"
            android:exported="true">
        </activity>

        <activity
            android:name=".presentation.search.Search"
            android:exported="true">
        </activity>



        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_CLIENT_ID}" />
        <meta-data
            android:name="aviro.aws.v0.API_KEY"
            android:value="${AWS_API_KEY_V1}"/>

    </application>

</manifest>